<div #dropdown class="gallery-filter w-full relative" [formGroup]="formGroup">
  <button
    class="w-full h-full px-3 py-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 flex justify-between items-center"
    (click)="toggleDropdown()"
  >
    {{ getSelectedSizes().length > 0 ? "" : "Selecione o tamanho" }}
    @if (getSelectedSizes().length > 0) {
    <div class="selected-sizes">
      <strong>Opções selecionadas: </strong>
      @for (selectedSize of getSelectedSizes(); track selectedSize) {
      <span class="selected-sizes__size">{{ getSizeWord(selectedSize) }}</span>
      }
    </div>
    }
  </button>
  @if (showDropdown) {
  <div
    class="dropdown-flex absolute z-10 w-full bg-white border border-gray-300 rounded-md"
    formArrayName="size"
  >
    @for (sizeOption of sizeOptions; track sizeOption) {
    <div class="flex-item p-2 text-left">
      <input
        id="size-{{ sizeOption }}"
        type="checkbox"
        [formControlName]="$index"
        class="mr-2"
      />
      <label for="size-{{ sizeOption }}">
        {{ getSizeWord(sizeOption) }}
      </label>
    </div>
    }
    <button
      class="flex-item button-close mb-5 w-full"
      (click)="closeSizeMenu()"
    >
      Fechar menu
    </button>
  </div>
  }
</div>
