::ng-deep {
  .social-icons {
    display: flex;
    align-items: center;
    gap: 16px;

    &--desktop {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    svg {
      fill: #FFF;
      width: 25px;
      height: auto;
    }
  }
}

.main-nav-container {
  background-color: #232f3d;
  color: #FFF;
}
