<div
  class="bg-white rounded drop-shadow -mt-20 p-4 mb-6 w-full mx-auto text-center"
>
  <div class="flex flex-wrap items-center justify-center gap-2 w-full">
    <!-- Size Dropdown -->
    <div class="flex-1 min-w-[140px]">
      <select
        id="size"
        name="size"
        [(ngModel)]="selectedSize"
        class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Qualquer tamanho</option>
        @for (sizeOption of sizeOptions; track $index) {
        <option value="{{ sizeOption }}">
          {{ getSizeWord(sizeOption) }}
        </option>
        }
      </select>
    </div>
    <!-- Sex Dropdown -->
    <div class="flex-1 min-w-[140px]">
      <select
        id="sex"
        name="sex"
        [(ngModel)]="selectedSex"
        class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Qualquer sexo</option>
        @for (sexOption of sexOptions; track $index) {
        <option value="{{ sexOption }}">
          {{ capitalizeFirstWord(sexOption) }}
        </option>
        }
      </select>
    </div>
    <!-- Color Dropdown -->
    <div class="flex-1 min-w-[140px]">
      <select
        id="color"
        name="color"
        [(ngModel)]="selectedColor"
        class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Qualquer cor</option>
        @for (colorOption of colorOptions; track $index) {
        <option value="{{ colorOption }}">
          {{ capitalizeFirstWord(colorOption) }}
        </option>
        }
      </select>
    </div>
    <!-- Location (Abrigo) Dropdown -->
    <div class="flex-1 min-w-[140px]">
      <select
        id="location"
        name="location"
        [(ngModel)]="selectedLocation"
        class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Qualquer abrigo</option>
        @for (locationOption of locationOptions; track $index) {
        <option value="{{ locationOption }}">
          {{ capitalizeFirstWord(locationOption) }}
        </option>
        }
      </select>
    </div>
  </div>
  <div class="flex-auto items-center justify-center mt-3">
    <button
      class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 whitespace-nowrap"
      (click)="filterAnimals()"
    >
      Filtrar
    </button>
    <button
      class="bg-gray-500 text-white ml-2 px-4 py-2 rounded-md hover:bg-gray-600"
      (click)="resetFilter()"
    >
      Limpar filtros
    </button>
  </div>
</div>

<div class="masonry-grid md:columns-2 lg:columns-3 w-full">
  @for (animal of animals; track animal.id) {
  <app-animal-card
    [animal]="animal"
    (click)="navigateToAnimal(animal.id)"
  ></app-animal-card>
  } @empty {
  <div class="empty-list">
    <p class="text-gray-500 text-center w-full">
      Nenhum animal com os critérios selecionados.
    </p>
  </div>
  }
</div>
@if (loading) {
<div class="loader-overlay">
  <div class="loader"></div>
</div>
}
