#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;

  svg {
    width: 20px;
    fill: white;
  }
}

.masonry-grid {
  min-height: 600px;
}
