.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;

  img {
    min-width: 50vw;
    max-width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.animal-data {
  > div {
    margin-bottom: 1rem;
  }
}

::ng-deep {
  .animal-data-link {
    color: #3b82f6;
  }
}
