@if (animal$ | async; as animal) {
<div class="container mx-auto py-4">
  <div class="mb-8">
    <!-- Photo Stripe -->
    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 overflow-x-auto"
    >
      @for (imageURL of animal.imageURLs; track imageURL) {
      <div
        class="max-w-xs mx-auto"
        (click)="openModal($index, animal.imageURLs)"
      >
        <img
          [src]="imageURL"
          alt="Animal Image"
          class="w-full h-48 object-cover rounded-lg shadow-lg"
        />
      </div>
      }
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-2xl font-bold mb-4">Detalhes do Animal</h2>

    <div class="animal-data">
      <div>
        <h3 class="font-bold mb-2">Tamanho:</h3>
        <p>{{ getSizeWord(animal.size) }}</p>
      </div>

      <div>
        <h3 class="font-bold mb-2">Sexo:</h3>
        <p>{{ capitalizeFirstWord(animal.sex) }}</p>
      </div>

      <div>
        <h3 class="font-bold mb-2">Cor:</h3>
        <p>{{ capitalizeFirstWord(animal.color) }}</p>
      </div>

      @if (animal.characteristics.length) {
      <div>
        <h3 class="font-bold mb-2">Outros Detalhes</h3>
        <p [innerHTML]="formatTextareaText(animal.characteristics)"></p>
      </div>
      } @if (animal.contactInformation.length) {
      <div>
        <h3 class="font-bold mb-2">Informações de Contato</h3>
        <p
          class="animal-data__text-value"
          [innerHTML]="animal.contactInformation | linkify"
        ></p>
      </div>
      } @if (animal.whereItIs.length > 1) {
      <div>
        <h3 class="font-bold mb-2">Onde está abrigado?</h3>
        <p
          class="animal-data__text-value"
          [innerHTML]="animal.whereItIs | linkify"
        ></p>
      </div>
      } @if (animal.whereWasFound && animal.whereWasFound.length > 1) {
      <div>
        <h3 class="font-bold mb-2">Onde foi encontrado?</h3>
        <p>{{ capitalizeFirstWord(animal.whereWasFound) }}</p>
      </div>
      }
      <div>
        <h3 class="font-bold mb-2">Indentificador do animal no nosso site:</h3>
        <p>{{ animalId }}</p>
      </div>
    </div>

    <!-- Button to Go Back -->
    <div class="mt-6">
      <button
        class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600"
        (click)="navigateBack()"
      >
        Voltar
      </button>
    </div>
  </div>
</div>

@if (showModal) {
<div
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center"
  (click)="closeModal()"
>
  <div class="modal-content bg-white p-4" (click)="$event.stopPropagation()">
    <img
      [src]="currentImageUrl"
      alt="Current Image"
      class="max-w-full h-auto"
    />
    <div class="flex justify-between items-center mt-4">
      @if (animal.imageURLs.length > 1) {
      <button (click)="changeImage(-1, animal.imageURLs)">Anterior</button>
      <button (click)="changeImage(1, animal.imageURLs)">Próxima</button>
      }
      <button (click)="closeModal()">Fechar</button>
    </div>
  </div>
</div>
} } @else {
<div class="loader-overlay">
  <div class="loader"></div>
</div>
}
