@if (animal$ | async; as animal) {
<div class="container mx-auto py-4">
  <div class="mb-8">
    <!-- Photo Stripe -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 overflow-x-auto"
    >
      @for (imageURL of animal.imageURLs; track imageURL) {
      <div class="max-w-xs">
        <img
          [src]="imageURL"
          alt="Animal Image"
          class="w-full h-48 object-cover rounded-lg shadow-lg"
        />
      </div>
      }
    </div>
  </div>

  <!-- Animal Details -->
  <div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-2xl font-bold mb-4">Detalhes do Animal</h2>

    <!-- Animal Information -->
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="font-bold">Espécie:</p>
        <p>{{ capitalizeFirstWord(animal.species) }}</p>
      </div>
      <div>
        <p class="font-bold">Tamanho:</p>
        <p>{{ getSizeWord(animal.size) }}</p>
      </div>
      <!-- Add more details here -->
    </div>

    <!-- Contact Information -->
    @if (animal.contactInformation.length) {
    <div class="mt-4">
      <h3 class="text-lg font-bold mb-2">Informações de Contato</h3>
      <p>{{ capitalizeFirstWord(animal.contactInformation) }}</p>
    </div>
    }

    <!-- Other Details -->
    @if (animal.characteristics.length) {
    <div class="mt-4">
      <h3 class="text-lg font-bold mb-2">Outros Detalhes</h3>
      <p>{{ capitalizeFirstWord(animal.characteristics) }}</p>
    </div>
    }

    <!-- Button to Go Back -->
    <div class="mt-6">
      <button
        class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600"
        (click)="navigateToHome()"
      >
        Voltar
      </button>
    </div>
  </div>
</div>

}
