<div
  class="animal-card max-w-sm rounded overflow-hidden shadow-lg mx-auto mb-5"
>
  <img
    class="w-full h-auto object-cover"
    [src]="animal.imageURLs[0]"
    alt="Animal resgatado"
    loading="lazy"
  />

  <div class="p-4">
    <p>
      <span class="font-bold">Porte:</span>
      {{ getSizeWord(animal.size) }}
    </p>
    <p>
      <span class="font-bold">Sexo:</span>
      {{ capitalizePhrase(animal.sex) }}
    </p>
    <p>
      <span class="font-bold">Cores dominantes:</span>
      {{ capitalizePhrase(animal.color) }}
    </p>
    @if (animal.whereWasFound?.length) {
    <p>
      <span class="font-bold">Onde foi encontrado:</span>
      {{ capitalizePhrase(animal.whereWasFound ?? "") }}
    </p>
    }
    <p>
      <span class="font-bold">Onde está abrigado:</span>
      {{ capitalizePhrase(animal.whereItIs) }}
    </p>
  </div>
</div>
