<div
  #menuContainer
  class="bg-white rounded drop-shadow -mt-20 p-4 mb-6 w-full mx-auto text-center"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
    @if (userType === 'tutor') {
    <!-- Species Dropdown -->
    <mat-form-field class="flex-1 min-w-[240px]">
      <mat-label>Espécie</mat-label>
      <mat-select [formControl]="speciesFormControl" multiple>
        @for (species of speciesOptions; track species) {
        <mat-option [value]="species">{{
          capitalizeFirstWord(species)
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Size Dropdown -->
    <mat-form-field class="flex-1 min-w-[240px]">
      <mat-label>Tamanho</mat-label>
      <mat-select [formControl]="sizeFormControl" multiple>
        @for (size of sizeOptions; track size) {
        <mat-option [value]="size">{{ getSizeWord(size) }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Sex Dropdown -->
    <mat-form-field class="flex-1 min-w-[240px]">
      <mat-label>Sexo</mat-label>
      <mat-select [formControl]="sexFormControl" multiple>
        @for (sex of sexOptions; track sex) {
        <mat-option [value]="sex">{{ capitalizeFirstWord(sex) }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Color Dropdown -->
    <mat-form-field class="flex-1 min-w-[240px]">
      <mat-label>Cores presentes no animal</mat-label>
      <mat-select [formControl]="colorFormControl" multiple>
        @for (color of colorOptions; track color) {
        <mat-option [value]="color">{{
          capitalizeFirstWord(color)
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    } @else if(userType === 'shelter') {
    <app-shelter-input
      class="col-span-1 sm:col-span-2 lg:col-span-4"
      [shelterForm]="shelterForm"
      [shelterOptions]="shelterOptions$ | async"
      [shelterType]="'Abrigo'"
    ></app-shelter-input>
    } @else if(userType === 'temporary-home') {
    <app-shelter-input
      class="col-span-1 sm:col-span-2 lg:col-span-4"
      [shelterForm]="shelterForm"
      [shelterOptions]="temporaryHomeOptions$ | async"
      [shelterType]="'Lar temporário'"
    ></app-shelter-input>
    }
  </div>
  <div class="flex-auto items-center justify-center mt-3">
    <button
      class="bg-gray-500 text-white mr-2 px-4 py-2 rounded-md hover:bg-gray-600"
      (click)="resetFilterAndLoadInitialData()"
    >
      Limpar filtros
    </button>
    <button
      class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 whitespace-nowrap"
      (click)="filterAnimals()"
    >
      Filtrar
    </button>
  </div>
</div>
