.selected-colors {
  font-style: italic;
  margin-top: 5px;

  &__color:not(:last-child) {
    &:after {
      content: '; ';
    }
  }
}

.dropdown-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.flex-item {
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
}

.button-close {
  flex-basis: 100%;;
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .flex-item {
    width: 50%;
  }
}

form {
  position: relative;
}

.shelter-suggestions {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  text-align: left;
  color: #333;
  padding: 1rem 0.5rem;

  ul {
    li {
      cursor: pointer;
    }
  }
}
