<div
  #menuContainer
  class="bg-white rounded drop-shadow -mt-20 p-4 mb-6 w-full mx-auto text-center"
>
  <div class="flex flex-wrap items-center justify-center gap-2 w-full">
    @if (userType === 'tutor') {
    <!-- Species Dropdown -->
    <app-species-input
      [formGroup]="filtersForm"
      [speciesOptions]="speciesOptions"
      class="flex-1 min-w-[140px] relative gallery-filter"
    ></app-species-input>
    <!-- Size Dropdown -->
    <app-size-input
      [formGroup]="filtersForm"
      [sizeOptions]="sizeOptions"
      class="flex-1 min-w-[140px] relative gallery-filter"
    ></app-size-input>
    <!-- Sex Dropdown -->
    <app-sex-input
      [formGroup]="filtersForm"
      [sexOptions]="sexOptions"
      class="flex-1 min-w-[140px] relative gallery-filter"
    ></app-sex-input>
    <!-- Color Dropdown -->
    <app-color-input
      [formGroup]="filtersForm"
      [colorOptions]="colorOptions"
      class="w-full relative gallery-filter"
    ></app-color-input>

    } @else if(userType === 'shelter') {
    <!-- Location Dropdown -->
    <form class="w-full" [formGroup]="shelterForm">
      <div class="flex-1 min-w-[140px]">
        <input
          type="text"
          id="shelter-location"
          name="shelter"
          formControlName="shelter"
          placeholder="Digite o nome do abrigo"
          class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          [matAutocomplete]="auto"
        />
      </div>
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredShelters | async; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </form>
    } @else if(userType === 'temporary-home') {
    <div class="flex-1 min-w-[140px]">
      <select
        id="home-location"
        name="home-location"
        [(ngModel)]="selectedLocation"
        class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Selecione um LT</option>
        @for (locationOption of (temporaryHomeOptions$ | async)?.sort(); track
        $index) {
        <option value="{{ locationOption }}">
          {{ capitalizeFirstWord(locationOption) }}
        </option>
        }
      </select>
    </div>
    }
  </div>
  <div class="flex-auto items-center justify-center mt-3">
    <button
      class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 whitespace-nowrap"
      (click)="filterAnimals()"
    >
      Filtrar
    </button>
    <button
      class="bg-gray-500 text-white ml-2 px-4 py-2 rounded-md hover:bg-gray-600"
      (click)="resetFilterAndLoadInitialData()"
    >
      Limpar filtros
    </button>
  </div>
</div>
