<div
  #menuContainer
  class="bg-white rounded drop-shadow -mt-20 p-4 mb-6 w-full mx-auto text-center"
>
  <div class="flex flex-wrap items-center justify-center gap-2 w-full">
    @if (userType === 'tutor') {
    <!-- Species Dropdown -->
    <div class="flex-1 min-w-[140px]">
      <select
        id="species"
        name="species"
        [(ngModel)]="selectedSpecies"
        class="w-full h-full px-3 py-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Todos animais</option>
        @for (speciesOption of speciesOptions; track speciesOption) {
        <option value="{{ speciesOption }}">
          {{ capitalizeFirstWord(speciesOption) }}
        </option>
        }
      </select>
    </div>
    <!-- Size Dropdown -->
    <div class="flex-1 min-w-[140px]">
      <select
        id="size"
        name="size"
        [(ngModel)]="selectedSize"
        class="w-full h-full px-3 py-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Qualquer tamanho</option>
        @for (sizeOption of sizeOptions; track $index) {
        <option value="{{ sizeOption }}">
          {{ getSizeWord(sizeOption) }}
        </option>
        }
      </select>
    </div>
    <!-- Sex Dropdown -->
    <div class="flex-1 min-w-[140px]">
      <select
        id="sex"
        name="sex"
        [(ngModel)]="selectedSex"
        class="w-full h-full px-3 py-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Qualquer sexo</option>
        @for (sexOption of sexOptions; track $index) {
        <option value="{{ sexOption }}">
          {{ capitalizeFirstWord(sexOption) }}
        </option>
        }
      </select>
    </div>
    <!-- Color Dropdown -->
    <div class="w-full relative">
      <button
        class="w-full h-full px-3 py-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 flex justify-between items-center"
        (click)="toggleDropdown()"
      >
        {{ getSelectedColors().length > 0 ? "" : "Selecione as cores" }}
        @if (getSelectedColors().length > 0) {
        <div class="selected-colors">
          <strong>Cores selecionadas: </strong>
          @for (selectedColor of getSelectedColors(); track selectedColor) {
          <span class="selected-colors__color">{{ selectedColor }}</span>
          }
        </div>
        }
      </button>
      <div
        *ngIf="showDropdown"
        class="dropdown-flex absolute z-10 w-full bg-white border border-gray-300 rounded-md"
      >
        @for (colorOption of colorOptions; track colorOption) {
        <div class="flex-item p-2 text-left">
          <input
            type="checkbox"
            id="color-{{ colorOption }}"
            name="color"
            [(ngModel)]="selectedColors[colorOption]"
            class="mr-2"
          />
          <label for="color-{{ colorOption }}">
            {{ capitalizeFirstWord(colorOption) }}
          </label>
        </div>
        }
        <button
          class="flex-item button-close mb-5 w-full"
          (click)="closeColorMenu()"
        >
          Fechar menu
        </button>
      </div>
    </div>

    } @else if(userType === 'shelter') {
    <!-- Location Dropdown -->
    <form class="w-full" [formGroup]="shelterForm">
      <div class="flex-1 min-w-[140px]">
        <input
          type="text"
          id="shelter-location"
          name="shelter"
          formControlName="shelter"
          placeholder="Digite o nome do abrigo"
          class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          (click)="showLocationSuggestions = false"
        />
      </div>
      @if (showLocationSuggestions && !filledLocationWithSuggestion) {
      <div class="shelter-suggestions flex-1 min-w-[140px]">
        <ul>
          @for (locationSuggestion of filteredLocations; track
          locationSuggestion) {
          <li (click)="selectSuggestion(locationSuggestion)">
            {{ locationSuggestion }}
          </li>
          }
        </ul>
      </div>
      }
    </form>
    } @else if(userType === 'temporary-home') {
    <div class="flex-1 min-w-[140px]">
      <select
        id="home-location"
        name="home-location"
        [(ngModel)]="selectedLocation"
        class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      >
        <option value="0">Selecione um LT</option>
        @for (locationOption of (temporaryHomeOptions$ | async)?.sort(); track
        $index) {
        <option value="{{ locationOption }}">
          {{ capitalizeFirstWord(locationOption) }}
        </option>
        }
      </select>
    </div>
    }
  </div>
  <div class="flex-auto items-center justify-center mt-3">
    <button
      class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 whitespace-nowrap"
      (click)="filterAnimals()"
    >
      Filtrar
    </button>
    <button
      class="bg-gray-500 text-white ml-2 px-4 py-2 rounded-md hover:bg-gray-600"
      (click)="resetFilterAndLoadInitialData()"
    >
      Limpar filtros
    </button>
  </div>
</div>
