<div class="masonry-grid md:columns-2 lg:columns-3 w-full">
  <div
    class="initiative-card max-w-sm rounded overflow-hidden shadow-lg mx-auto"
  >
    <img
      class="w-full"
      src="https://via.placeholder.com/400"
      alt="Nature"
      style="height: 200px; object-fit: cover"
    />

    <div class="p-4">
      <h2 class="text-lg font-bold mb-2">Animal 1</h2>
      <p class="text-gray-700">Descrição do Animal 1.</p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >
        Tag 1
      </span>
    </div>
  </div>
</div>
