<div #dropdown class="gallery-filter w-full relative" [formGroup]="formGroup">
  <button
    class="w-full h-full px-3 py-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 flex justify-between items-center"
    (click)="toggleDropdown()"
  >
    {{ getSelectedSexes().length > 0 ? "" : "Selecione o sexo" }}
    @if (getSelectedSexes().length > 0) {
    <div class="selected-sexes">
      <strong>Opções selecionadas: </strong>
      @for (selectedSex of getSelectedSexes(); track selectedSex) {
      <span class="selected-sexes__sex">{{ selectedSex }}</span>
      }
    </div>
    }
  </button>
  @if (showDropdown) {
  <div
    class="dropdown-flex absolute z-10 w-full bg-white border border-gray-300 rounded-md"
    formArrayName="sex"
  >
    @for (sexOption of sexOptions; track sexOption) {
    <div class="flex-item p-2 text-left">
      <input
        id="sex-{{ sexOption }}"
        type="checkbox"
        [formControlName]="$index"
        class="mr-2"
      />
      <label for="sex-{{ sexOption }}">
        {{ capitalizeFirstWord(sexOption) }}
      </label>
    </div>
    }
    <button class="flex-item button-close mb-5 w-full" (click)="closeSexMenu()">
      Fechar menu
    </button>
  </div>
  }
</div>
