.header-menu {
  width: 100%;
  text-align: center;
  margin-top: 2rem;

  svg {
    fill: white;
    width: 25px;
    height: auto;
  }
}

.logo {
  cursor: pointer;
}

.user-type-selector {
  button {
    border: 1px solid white;
    border-radius: .75rem;
    padding: .5rem;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover {
      filter: brightness(1.1);
    }

    @media (min-width: 520px) {
      width: auto;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &.active {
      background-color: white;
      color: #111827;
    }
  }
}
