<div class="bg-gray-900 py-12">
  <div class="container mx-auto px-4 w-full text-center">
    <h1 class="text-4xl text-center font-bold text-white mb-4">
      Meu Bicho Tá Salvo POA
    </h1>
    <p class="text-lg text-center text-gray-300 mb-8 max-w-lg mx-auto">
      Galeria de animais resgatados da enchente a procura de seus donos. São
      muitos animais e estamos cadastrando ativamente. Se você não encontrar seu
      bichinho, não perca a esperança. Mande uma foto que entraremos em contato
      caso encontrarmos algum parecido.
    </p>
  </div>
</div>

<div class="container mx-auto px-4 py-8">
  <router-outlet></router-outlet>
</div>
