<app-navbar></app-navbar>
<div class="header bg-gray-900 pt-8" [class]="getHeaderPadding()">
  <div
    (click)="navigateHome()"
    class="logo container mx-auto mt-4 px-4 w-full text-center"
  >
    <img
      src="/assets/paw.svg"
      alt="Ícone de uma pata animal"
      class="mx-auto mb-4"
    />
    <h1 class="text-4xl text-center font-bold text-white">
      Meu Bicho Tá Salvo
    </h1>
    <p class="text-center text-lg text-white mb-3">Porto Alegre e região</p>
    <p class="text-center text-md text-white font-thin italic mb-8">
      Iniciativa inspirada na grande atuação do
      <a
        href="https://www.instagram.com/meubichotasalvocanoas/"
        target="_blank"
        rel="noopener noreferrer"
        class="font-semibold"
        >&#64;meubichotasalvocanoas</a
      >
    </p>
    <p
      class="text-2xl font-thin text-center text-gray-300 max-w-xl mx-auto mb-8"
    >
      Pets resgatados da enchente procuram seus tutores
    </p>
    <p
      class="text-lg font-thin text-center text-gray-300 max-w-lg mx-auto mb-8"
    >
      <strong>Animais cadastrados:</strong>
      {{ (animalCount$ | async) || "..." }}
    </p>
    @if (isHome()) {
    <div class="user-type-selector text-gray-300">
      <button
        (click)="changeUserType('tutor')"
        [ngClass]="{ active: userType === 'tutor' }"
      >
        Procure por pet
      </button>
      <button
        (click)="changeUserType('shelter')"
        [ngClass]="{ active: userType === 'shelter' }"
      >
        Procure por abrigo
      </button>
      <button
        (click)="changeUserType('temporary-home')"
        [ngClass]="{ active: userType === 'temporary-home' }"
      >
        Procure por LT
      </button>
    </div>
    }
  </div>
</div>

<div class="container mx-auto px-4 py-8">
  <router-outlet></router-outlet>
</div>
