<form class="w-full" [formGroup]="shelterForm">
  <div class="flex-1 min-w-[140px]">
    <input
      type="text"
      id="shelter-location"
      name="shelter"
      formControlName="shelter"
      placeholder="Digite o nome do abrigo"
      class="w-full h-full p-2 border border-gray-300 rounded-md text-gray-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      [matAutocomplete]="shelter"
    />
  </div>
  <mat-autocomplete #shelter="matAutocomplete">
    @for (option of filteredShelters | async; track option) {
    <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</form>
