<form class="w-full" [formGroup]="shelterForm">
  <mat-form-field class="w-full">
    <mat-label>Selecione um {{ shelterType }}</mat-label>
    <input
      type="text"
      [placeholder]="shelterType"
      aria-label="Selecione uma opção"
      matInput
      [formControlName]="'shelter'"
      [matAutocomplete]="shelter"
    />
    <mat-autocomplete #shelter="matAutocomplete">
      @for (option of filteredShelters | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
